* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f6d5f7, #fbe9d7);
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 2rem;
}

header nav a {
  margin: 0 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

section {
  padding: 2rem;
  text-align: center;
}

.project-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.project-card {
  background: rgba(0,0, 0, 0.1);
  padding: 1rem;
  margin: 1rem auto;
  max-width: 600px;
  border-radius: 8px;
}

/* Container principal */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: rgb(0, 0, 0);
}

/* Section photo */
.photo-section {
  margin-right: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Rendu circulaire */
  border: 3px solid rgb(0, 0, 0);
  object-fit: cover; /* Ajuste l'image au cadre */
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Section texte */
.text-section h1 {
  font-size: 28px;
  margin: 0;
}

.text-section p {
  font-size: 16px;
  margin: 5px 0 15px 0;
  color: #000000;
  text-align: center;
}

/* Liens de navigation */
.text-section nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #1c1c1c;
  font-weight: bold;
  transition: color 0.3s;
}

.text-section nav a:hover {
  color: #5c49a0;
}

.box {
  display: flex;
  justify-content: space-between;
}
